<!DOCTYPE html>
<html>
<head>
   <title>Bingo</title>
   <meta charset="UTF-8">
</head>

<style>
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex; 
    font-family: arial;
}

.carton {
     flex-direction: column;
     display: flex;    
}

.fila {
     display: flex;
}


.fila > div {
      border: 1px solid blue;
      width:  3em;
      height: 3em;
      justify-content: center;
      text-align: center;
      align-items: center;
      display: flex;
}


.celda {
     background-color: paleturquoise;
     color: olivedrab;
}

.celda_vacia {
     background-color: gold;
}
</style>


<body>
<div class = "carton">
    {% for fila in carton %} 
    <div class = "fila">
        {% for celda in fila %}
           {% if celda == 0 %}
              <div class = "celda_vacia"></div>
           {% else %}
              <div class = "celda"> <h1> {{ celda }} </h1> </div>
           {% endif %} 
        {% endfor %}
    </div>
    {% endfor %}
</div>              
</body>

</html>


